CLOUD_INIT_USER=canary
CLOUD_INIT_SSHD_PORT=8622
CLOUD_INIT_DOCKER_COMPOSE_VERSION=1.7.1


driver=digitalocean

# Digital Ocean
digitalocean-region=ams2
digitalocean-access-token

# Google Cloud
google-project
google-zone=europe-west1-c
google-machine-type=n1-standard-1
google-username

# Amazon AWS
amazonec2-region=t2.small
amazonec2-region=eu-west-1a
amazonec2-access-key
amazonec2-secret-key

# Generic SSH
generic-ip-address
generic-ssh-key
generic-ssh-user
generic-ssh-port

# Oracle Virtualbox
virtualbox-hostonly-cidr


